@charset "utf-8";

// ========================================================== */
// file		: mixin
// writer	: IDR
// date		: 20180525
// ========================================================== */
@mixin bdrs($z: 5px) {
  -webkit-border-radius: $z;
  -moz-border-radius: $z;
  border-radius: $z;
}
@mixin posa-tl($t: 0, $l:0) {
  left: $l;
  position: absolute;
  top: $t;
}
@mixin posa-tr($t: 0, $r:0) {
  position: absolute;
  right: $r;
  top: $t;
}
@mixin posa-bl($b: 0, $l:0) {
  bottom: $b;
  left: $l;
  position: absolute;
}
@mixin posa-br($b: 0, $r:0) {
  bottom: $b;
  position: absolute;
  right: $r;
}
@mixin posf-t($t: 0, $l:0) {
  left: $l;
  position: fixed;
  top: $t;
}
@mixin posf-b($b: 0, $l:0) {
  bottom: $b;
  left: $l;
  position: fixed;
}
@mixin bg-spr-layout($l:0,$t:0) {
  background: url("../../images/common/layout.png") $l $t no-repeat;
  background-size: 250px auto;
}
@mixin clear-fix() {
  clear: both;
  content: "";
  display: block;
}
@mixin clear-fix-after() {
  &::after,
  &::before {
    content: ""; // 1
    display: table; // 2
  }

  &::after {
    clear: both;
  }
}
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@mixin bxzb {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin opa($non_ie:0, $ie:0) {
  filter: alpha(opacity=$ie);
  opacity: $non_ie;
}
@mixin ct {
  content: "";
  display: block;
}
@mixin trs($p:all, $t:0.5s) {
  -webkit-transition: $p ease-in-out $t;
  -moz-transition: $p ease-in-out $t;
  -ms-transition: $p ease-in-out $t;
  -o-transition: $p ease-in-out $t;
  transition: $p ease-in-out $t;
}
@mixin scale($ratio...) {
  -webkit-transform: scale($ratio);
  -ms-transform: scale($ratio); // IE9 only
  -o-transform: scale($ratio);
  transform: scale($ratio);
}
@mixin rotate($deg...) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}
@mixin phc($c:#000) {
  &:-ms-input-placeholder {
    color: $c;
  }

  &:-moz-placeholder {
    color: $c;
  }

  &::-webkit-input-placeholder {
    color: $c;
  }
}
@mixin full {
  @media ( max-width: #{$full} ){
    @content;
  }
}
@mixin middle {
  @media ( min-width: 1470px ){
    @content;
  }
}
@mixin narrow {
  @media ( min-width: #{$narrow} ){
    @content;
  }
}
@mixin t-idt() {
  font-size: 0;
  text-indent: -5000px;
}
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin line-clamp($l: 2){
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $l;
  overflow: hidden;
}
@mixin set-ellipsis($lineNum:1){
  overflow: hidden;
  text-overflow: ellipsis;
  @if $lineNum == 1 {
    white-space: nowrap;
  } @else {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: $lineNum;
  }
}
@mixin background-position( $f1, $f2 ){
  @include css3-prefix("background-position", $f1 $f2);
}
@mixin set-df-padding(){
  padding-left: $con_pd;
  padding-right: $con_pd;
}
@mixin set-full-box(){
  margin-left: -$con_pd;
  margin-right: -$con_pd;
}
@mixin link-cursor(){
  cursor: pointer;
}
@mixin s-vh($property, $value) {
  #{$property}: calc((var(--vh, 1vh) * 100) + #{$value});
}
@mixin notch-top($property, $value) {
  #{$property}: calc(constant(safe-area-inset-top) + #{$value});
  #{$property}: calc(env(safe-area-inset-top) + #{$value});
}
@mixin notch-btm($property, $value) {
  #{$property}: calc(constant(safe-area-inset-bottom) + #{$value});
  #{$property}: calc(env(safe-area-inset-bottom) + #{$value});
}
@mixin notch-lft($property, $value) {
  #{$property}: calc(constant(safe-area-inset-left) + #{$value});
  #{$property}: calc(env(safe-area-inset-left) + #{$value});
}
@mixin notch-rgt($property, $value) {
  #{$property}: calc(constant(safe-area-inset-right) + #{$value});
  #{$property}: calc(env(safe-area-inset-right) + #{$value});
}
@mixin mdq-mo {
  @media only screen and ( max-width: #{$mini-mo-w} ){
    @content;
  }
}
@mixin mdq-pc {
  @media only screen and ( min-width: #{$mini-pc-w} ){
    @content;

    .fixed-action-sheet.seet-fixed{
      border-left: 1px solid #e8e8e8;
      border-right: 1px solid #e8e8e8;
    }

    .fixed-action-sheet.expand-right{
      margin-right: -320px;right: 50% 
	    !important;transform: translateX(0) !important;
    }
  }
}