@charset "utf-8";

// ======================================================================== //
// file		: variables
// writer	: Ryu
// date		: 20180525
// ======================================================================== //

// font==================================================================== //
// $default_font: 'Apple SD Gothic Neo';
// $default_font: 'Noto Sans KR', sans-serif;
// $default_font: 'Noto Serif KR', serif;
// $default_font: 'Noto Serif', sans-serif;
// $default_font: 'Nanum Gothic', sans-serif;
// $default_font: 'Nanum Myeongjo', serif;
// $default_font: 'Roboto', sans-serif;
// $default_font: 'Apple SD Gothic Neo', sans-serif;
// $default_font: 'Malgun Gothic', sans-serif;
$second_font: "Open Sans";
$th: 100;
$l: 300;
$r: 400;
$md: 500;
$sb: 600;
$b: 700;
$eb: 800;
$bk: 900;
$title_fc: #333;
$default_fc: #222;

// color
$white: #fff;
$black: #222;
$light_gray: #999;
$light_black: #999;
$white_gray: #f1f1f1;
$camel: #c69c6d;
$point_clr: #e46764;
$border_clr: #f1f1f1;
$border_clr2: #ccc;

// btn
$df_h_s: 35px;
$df_h_m: 40px;
$df_h_l: 50px;

// layout
$max_w: 1280px;
$max_h: 1280px;
$header_h: 50px;
$con_mg: 10px;
$con_pd: 15px;
$con_pd2: 20px;
$con_pd3: 25px;

// media queries
$full: 1920px;
$middle: 1600px;
$narrow: 1280px;

// url
$img_url: "../../images/";
$img_common_url: "common_sub/";
$img_order_url: "order/";
$img_pg_url: "pg/";
$img_cs_url: "cs/";
$img_mbr_url: "member/";
$img_mp_url: "mypage/";

// motion
$slide_time: 300;

// card
$card_color: (
  "bc":#e83d44,
  "hana":#008598,
  "hyundai":#566582,
  "kb":#776c61,
  "lotte":#5c49d9,
  "nh":#37b978,
  "samsung":#188cd6,
  "shinhan":#91acc4
);
$card_fontcolor: (
  "bc":#fff,
  "hana":#fff,
  "hyundai":#fff,
  "kb":#fff,
  "lotte":#fff,
  "nh":#fff,
  "samsung":#fff,
  "shinhan":#fff
);

// notification
$n_kind_name: (
  "athome",
  "coupon",
  "delivery",
  "event",
  "expire",
  "fitting",
  "gift",
  "member",
  "new",
  "order",
  "pickup",
  "plus",
  "qna",
  "repair",
  "repair_2",
  "return",
  "sale"
);
$font_6r: 0.6rem;
$font_7r: 0.7rem;
$font_8r: 0.8rem;
$font_9r: 0.9rem;
$font_1r: 1rem;
$font_11r: 1.1rem;
$font_12r: 1.2rem;
$font_12r: 1.2rem;
$font_13r: 1.3rem;
$font_14r: 1.4rem;
$font_15r: 1.5rem;
$font_16r: 1.6rem;
$font_17r: 1.7rem;
$font_18r: 1.8rem;
$font_19r: 1.9rem;
$font_20r: 2rem;
$font_22r: 2.2rem;
$font_24r: 2.4rem;
$font_26r: 2.6rem;
$font_28r: 2.8rem;
$font_30r: 3rem;
$font_32r: 3.2rem;
$font_34r: 3.4rem;
$font_36r: 3.6rem;
$font_40r: 4rem;
$font_46r: 4.6rem;
$font_48r: 4.8rem;
$font_50r: 5rem;
$font_52r: 5.2rem;
$font_60r: 6rem;