<%- include('../common/layout-header')-%>
<body>
<div class="ui-wrap wrap-h my-bg">
    <!-- header -->
    <header class="ui-header">
        <%- include('../common/header/header-ver1')-%>
        <h1 class="title">공지사항</h1>
    </header>
    <!-- // header -->
    <div class="ui-container my-bg">
        <div class="notice-wrap">
            <ul id="accordion">
                <!-- to dev : tab 활성화시 li 태그에 클래스.on 으로 변경 -->
                <!-- to Dev [toggle Class] : on -->
                <li class="tab-list-content panel">
                    <a href="#none" class="dep-inner" data-container="toggle-1">
                        <div>
                            <p class="txt-1">서비스 정기점검 알림</p>
                            <p class="txt-2">
                                <span>21.08.02</span>이점검
                            </p>
                        </div>
                    </a>
                    <div href="#none" class="dep-content" id="toggle-1">
                            금주 주말에 시스템 정기 점검이 있습니다.<br><br>
                            작업 시간동안 시스템 접속이 원활하지 않을 수 있습니다.<br><br>
                            작업일정 : 2021.08.04(수)<br>
                            작업시간 : 22시 – 23시<br><br>
                            업무에 참고하시기 바랍니다.
                    </div>
                </li>
                <li class="tab-list-content panel">
                    <a href="#none" class="dep-inner" data-container="toggle-2">
                        <div>
                            <p class="txt-1">점검 알림점검 알림점검 알림점검 예정이오니 확인요청</p>
                            <p class="txt-2">
                                <span>21.08.02</span>이점검
                            </p>
                        </div>
                    </a>
                    <div class="dep-content" id="toggle-2">
                            금주 주말에 시스템 정기 점검이 있습니다.<br><br>
                            작업 시간동안 시스템 접속이 원활하지 않을 수 있습니다.<br><br>
                            작업일정 : 2021.08.04(수)<br>
                            작업시간 : 22시 – 23시<br><br>
                            업무에 참고하시기 바랍니다.
                    </div>
                </li>
                <li class="tab-list-content panel">
                    <a href="#none" class="dep-inner" data-container="toggle-1">
                        <div>
                            <p class="txt-1">서비스 정기점검 알림</p>
                            <p class="txt-2">
                                <span>21.08.02</span>이점검
                            </p>
                        </div>
                    </a>
                    <div href="#none" class="dep-content" id="toggle-1">
                            금주 주말에 시스템 정기 점검이 있습니다.<br><br>
                            작업 시간동안 시스템 접속이 원활하지 않을 수 있습니다.<br><br>
                            작업일정 : 2021.08.04(수)<br>
                            작업시간 : 22시 – 23시<br><br>
                            업무에 참고하시기 바랍니다.
                    </div>
                </li>
                <li class="tab-list-content panel">
                    <a href="#none" class="dep-inner" data-container="toggle-1">
                        <div>
                            <p class="txt-1">서비스 정기점검 알림</p>
                            <p class="txt-2">
                                <span>21.08.02</span>이점검
                            </p>
                        </div>
                    </a>
                    <div href="#none" class="dep-content" id="toggle-1">
                            금주 주말에 시스템 정기 점검이 있습니다.<br><br>
                            작업 시간동안 시스템 접속이 원활하지 않을 수 있습니다.<br><br>
                            작업일정 : 2021.08.04(수)<br>
                            작업시간 : 22시 – 23시<br><br>
                            업무에 참고하시기 바랍니다.
                    </div>
                </li>
                <li class="tab-list-content panel">
                    <a href="#none" class="dep-inner" data-container="toggle-1">
                        <div>
                            <p class="txt-1">서비스 정기점검 알림</p>
                            <p class="txt-2">
                                <span>21.08.02</span>이점검
                            </p>
                        </div>
                    </a>
                    <div href="#none" class="dep-content" id="toggle-1">
                            금주 주말에 시스템 정기 점검이 있습니다.<br><br>
                            작업 시간동안 시스템 접속이 원활하지 않을 수 있습니다.<br><br>
                            작업일정 : 2021.08.04(수)<br>
                            작업시간 : 22시 – 23시<br><br>
                            업무에 참고하시기 바랍니다.
                    </div>
                </li>
                <li class="tab-list-content panel">
                    <a href="#none" class="dep-inner" data-container="toggle-1">
                        <div>
                            <p class="txt-1">서비스 정기점검 알림</p>
                            <p class="txt-2">
                                <span>21.08.02</span>이점검
                            </p>
                        </div>
                    </a>
                    <div href="#none" class="dep-content" id="toggle-1">
                            금주 주말에 시스템 정기 점검이 있습니다.<br><br>
                            작업 시간동안 시스템 접속이 원활하지 않을 수 있습니다.<br><br>
                            작업일정 : 2021.08.04(수)<br>
                            작업시간 : 22시 – 23시<br><br>
                            업무에 참고하시기 바랍니다.
                    </div>
                </li>
                <li class="tab-list-content panel">
                    <a href="#none" class="dep-inner" data-container="toggle-1">
                        <div>
                            <p class="txt-1">서비스 정기점검 알림</p>
                            <p class="txt-2">
                                <span>21.08.02</span>이점검
                            </p>
                        </div>
                    </a>
                    <div href="#none" class="dep-content" id="toggle-1">
                            금주 주말에 시스템 정기 점검이 있습니다.<br><br>
                            작업 시간동안 시스템 접속이 원활하지 않을 수 있습니다.<br><br>
                            작업일정 : 2021.08.04(수)<br>
                            작업시간 : 22시 – 23시<br><br>
                            업무에 참고하시기 바랍니다.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>

