@charset "utf-8";
// ======================================================================== //
// file		: variables
// writer	: Lim
// date		: 20210923
// ======================================================================== //

//$default-font: 'Noto Sans KR', sans-serif;

$default-font: 'Noto Sans KR';
$default-font2: 'Gmarket Sans';
$th: 100;
$l: 300;
$r: 400;
$md: 500;
$sb: 600;
$b: 700;
$eb: 800;
$bk: 900;

//color
$fc-dft:#888888;
//$point-clr:#e46764;
//$fc-strong:#000;
//$fc-point2:#cc0000;
//$dis-fc:#afb0b5;
//$line-clr:#000;
//$line-clr2:#ccc;


//media queries
$full: 1024px;
$middle: 768px;
$narrow2: 540px;
$narrow: 360px;