<!-- list-section -->
<div class="list-section">
    <div class="list-title">
        <p class="txt">점검항목</p>
        <div class="check-title">
            <p>양호</p>
            <p>불량</p>
        </div>
    </div>

    <!-- list-item 1 -->
    <div class="list-item">
        <p class="txt">표지판 부착 및 주변 통제 여부 확인</p>
        <div class="radio-button-list">
            <div class="m-radio-button">
                <!-- to dev : 라디오 버튼 비활성화시 input[type="radio"] 태그에 disabled 추가 -->
                <!-- to Dev [toggle tag] : disabled -->
                <label>
                    <input type="radio" class="a-radio-button" value="good" name="check1">
                </label>
            </div>
            <div class="m-radio-button">
                <label>
                    <input type="radio" class="a-radio-button reject" value="reject" name="check1">
                </label>
            </div>
        </div>
    </div>
    <!--// list-item 1 -->

    <!-- list-item 2 -->
    <div class="list-item">
        <p class="txt">관련 부서와 작업 조정 상태 확인</p>
        <div class="radio-button-list">
            <div class="m-radio-button">
                <label>
                    <input type="radio" class="a-radio-button" value="good" name="check2">
                </label>
            </div>
            <div class="m-radio-button">
                <label>
                    <input type="radio" class="a-radio-button reject" value="reject" name="check2">
                </label>
            </div>
        </div>
    </div>
    <!--// list-item 2 -->

    <!-- list-item 3 -->
    <div class="list-item">
        <p class="txt">응급상황 발생 시 긴급 조치장비 확보</p>
        <div class="radio-button-list">
            <div class="m-radio-button">
                <label>
                    <input type="radio" class="a-radio-button" value="good" name="check3">
                </label>
            </div>
            <div class="m-radio-button">
                <label>
                    <input type="radio" class="a-radio-button reject" value="reject" name="check3">
                </label>
            </div>
        </div>
    </div>
    <!--// list-item 3 -->

    <!-- list-item 4 -->
    <div class="list-item">
        <p class="txt">감시인 배치 상태</p>
        <div class="radio-button-list">
            <div class="m-radio-button">
                <label>
                    <input type="radio" class="a-radio-button" value="good" name="check4">
                </label>
            </div>
            <div class="m-radio-button">
                <label>
                    <input type="radio" class="a-radio-button reject" value="reject" name="check4">
                </label>
            </div>
        </div>
    </div>
    <!--// list-item 4 -->

    <!-- list-item 5 -->
    <div class="list-item">
        <p class="txt">응급상황 발생 시 긴급 조치장비 확보</p>
        <div class="radio-button-list">
            <div class="m-radio-button">
                <label>
                    <input type="radio" class="a-radio-button" value="good" name="check5">
                </label>
            </div>
            <div class="m-radio-button">
                <label>
                    <input type="radio" class="a-radio-button reject" value="reject" name="check5">
                </label>
            </div>
        </div>
    </div>
    <!--// list-item 5 -->

    <!-- list-item 6 -->
    <div class="list-item">
        <p class="txt">감시인 배치 상태</p>
        <div class="radio-button-list">
            <div class="m-radio-button">
                <label>
                    <input type="radio" class="a-radio-button" value="good" name="check6">
                </label>
            </div>
            <div class="m-radio-button">
                <label>
                    <input type="radio" class="a-radio-button reject" value="reject" name="check6">
                </label>
            </div>
        </div>
    </div>
    <!--// list-item 6 -->

    <!-- list-item 7 -->
    <div class="list-item">
        <p class="txt">응급상황 발생 시 긴급 조치장비 확보</p>
        <div class="radio-button-list">
            <div class="m-radio-button">
                <label>
                    <input type="radio" class="a-radio-button" value="good" name="check7">
                </label>
            </div>
            <div class="m-radio-button">
                <label>
                    <input type="radio" class="a-radio-button reject" value="reject" name="check7">
                </label>
            </div>
        </div>
    </div>
    <!--// list-item 7 -->

    <!-- list-item 8 -->
    <div class="list-item">
        <p class="txt">감시인 배치 상태</p>
        <div class="radio-button-list">
            <div class="m-radio-button">
                <label>
                    <input type="radio" class="a-radio-button" value="good" name="check8">
                </label>
            </div>
            <div class="m-radio-button">
                <label>
                    <input type="radio" class="a-radio-button reject" value="reject" name="check8">
                </label>
            </div>
        </div>
    </div>
    <!--// list-item 8 -->

    <!-- list-item 9 -->
    <div class="list-item">
        <p class="txt">응급상황 발생 시 긴급 조치장비 확보</p>
        <div class="radio-button-list">
            <div class="m-radio-button">
                <label>
                    <input type="radio" class="a-radio-button" value="good" name="check9">
                </label>
            </div>
            <div class="m-radio-button">
                <label>
                    <input type="radio" class="a-radio-button reject" value="reject" name="check9">
                </label>
            </div>
        </div>
    </div>
    <!--// list-item 9 -->

    <!-- list-item 10 -->
    <div class="list-item">
        <p class="txt">감시인 배치 상태</p>
        <div class="radio-button-list">
            <div class="m-radio-button">
                <label>
                    <input type="radio" class="a-radio-button" value="good" name="check10">
                </label>
            </div>
            <div class="m-radio-button">
                <label>
                    <input type="radio" class="a-radio-button reject" value="reject" name="check10">
                </label>
            </div>
        </div>
    </div>
    <!--// list-item 10 -->
</div>
<!--// list-section -->



