<div class="date-section">
    <!-- to dev : 활성화 되는 li 태그에 클래스 .swiper-pagination-bullet-active 추가 -->
    <!-- swiper.js로 자동 class add 중 입니다. -->
    <ul class="swiper-pagination">
        <li>일</li>
        <li>주</li>
        <li>월</li>
    </ul>
</div>