<footer class="ui-footer main-footer">
    <div class="ft-info">
        <ul class="ft-menu">
            <li>
                <a href="#">공지사항</a>
            </li>
            <li>
                <a href="#">췌키 이용약관</a>
            </li>
            <li>
                <a href="#">개인정보처리방침</a>
            </li>
        </ul>
        <p class="num">고객센터 <a href="tel:15880000">: 1500-0000</a></p>
    </div>
    <ul class="info-box">
        <li>(주) 아이디알 인비전 / 대표이사 : 홍길동</li>
        <li>개인정보보호책임자 : 홍길동 / 문의 : abc5269@checkie.com</li>
        <li>주소 : 07207 서울시 영등포구 양평로21길 26, 2608호</li>
        <li>COPYRIGHT ⓒ IDR ENVISION All right reserved.</li>
    </ul>
</footer>