<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="p:domain_verify">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>CHECKIE</title>
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="../../static/css/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/frontend.css">
    <script type="text/javascript" src="../../static/js/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../../static/js/common.js"></script>
</head>