@charset "UTF-8";
/* ========================================================== */
/*                                                            */
/* file     : fonts CHECKIE                                   */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* Noto Sans KR s =========================================== */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://webfontworld.github.io/Gmarket+Sans/fonts.css');

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../fonts/NotoSansCJKkr-Light.otf') format('otf'),
  url('../fonts/NotoSansCJKkr-Light.ttf') format('ttf'),
  url('../fonts/NotoSansCJKkr-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../fonts/NotoSansCJKkr-Regular.otf') format('otf'),
  url('../fonts/NotoSansCJKkr-Regular.ttf') format('ttf'),
  url('../fonts/NotoSansCJKkr-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../fonts/NotoSansCJKkr-Medium.otf') format('otf'),
  url('../fonts/NotoSansCJKkr-Medium.ttf') format('ttf'),
  url('../fonts/NotoSansCJKkr-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../fonts/NotoSansCJKkr-Bold.otf') format('otf'),
  url('../fonts/NotoSansCJKkr-Bold.ttf') format('ttf'),
  url('../fonts/NotoSansCJKkr-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* font : Noto Sans KR e ===================================== */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* font : Gmarket Sans s =================================== */
@font-face {
  font-family: 'Gmarket Sans';
  src: url('../fonts/GmarketSansLight.otf') format('oft'),
  url('../fonts/GmarketSansLight.ttf') format('ttf'),
  url('../fonts/gmarket_font/GmarketSansLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gmarket Sans';
  src: url('../fonts/GmarketSansMedium.otf') format('oft'),
  url('../fonts/GmarketSansMedium.ttf') format('ttf'),
  url('../fonts/GmarketSansMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gmarket Sans';
  src: url('../fonts/GmarketSansBold.otf') format('oft'),
  url('../fonts/GmarketSansBold.ttf') format('ttf'),
  url('../fonts/GmarketSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* font : Gmarket Sans e  =================================== */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
