<!-- view-section 금주 -->
<div id="tabs-2" class="view-section">
    <a href="#none" class="today">
        <ul>
            <li>금주 전체 점검 항목</li>
            <li><span>13</span>건</li>
            <li>자세히 보기</li>
        </ul>
    </a>

    <div class="bottom-box">
        <a href="#none" class="n-check">
            <ul>
                <li class="icon">아이콘</li>
                <li>점검 미완료</li>
                <li><span>10</span>건</li>
            </ul>
        </a>
        <a href="#none" class="faulty">
            <ul>
                <li class="icon">아이콘</li>
                <li>불량</li>
                <li><span>3</span>건</li>
            </ul>
        </a>

    </div>
</div>
<!--// view-section 금주 -->