<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue test</title>
    <link href="./style.css" rel="stylesheet">
</head>

<body>
  <h2>todo list</h2>
  <div id="app">
    <div v-for="(todo, index) in todos">
      <label>
        <input type="checkbox" v-model="todo.done">
        <span v-bind:class="{donestyle:todo.done}">{{todo.text}}</span>
        <span v-bind:class="{donestyle:todo.done}">( 완료일 {{todo.DueDate}} )</span>
        <button v-on:click="extendDate(index)">완료일 연장</button>
      </label>
    </div>

    <input type="text" v-model.trim="addtext" v-on:keyup.enter="addToDo" placeholder="할일">
    /
    <input type="text" v-model.trim="dueDate" v-on:keyup.enter="addToDo" placeholder="완료일"> (YYYYMMDD 형식으로 입력)
    <p>
      <button v-on:click="cleanToDo">처리완료삭제</button>
      <button v-on:click="sortData('todo')">할일순으로 정렬</button>
      <button v-on:click="sortData('date')">완료일로 정렬</button>
    </p>

    <p>{{ todos.length }}건 중 {{ remaining }}건 처리, {{overdate}} 완료일 지남

  </div>






    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="./common.js"></script>

</body>


</html>