<div class="popup-modal wide member-wrap" data-popup-modal="lp-check-faulty-detail">
    <i class="popup-modal-close"></i>
    <h1 class="title">불량내용 상세보기</h1>
    <div class="content member-input-wrap">
        <ul class="faulty-list">
            <li>
                <img src="../../static/images/check/sample_img.png" alt="불량내용1">
            </li>
            <li>
                <img src="../../static/images/check/sample_img02.png" alt="불량내용2">
            </li>
        </ul>
        <p class="ex-txt">육안점검시 과적방지 지침 불량, 벽돌 무너짐</p>
    </div>
</div>