<div class="popup-modal center chekie" data-popup-modal="lp-check-checkie">
    <i class="popup-modal-close"></i>
    <h1 class="title">췌키 확인</h1>
    <div class="content">
        <ul>
            <li>- 코드번호 : <span>019EE4CB27D</span></li>
            <li>- 최근 업데이트 시간 : <span>2021-06-17 15:30</span></li>
            <li>- 상태 : <span>SUCCESS</span></li>
            <li>- 신호 세기 : <span>GOOD</span></li>
            <li>- 배터리 상태 : <span>GOOD</span></li>
        </ul>
        <div class="chekie-check-img">
            <img src="../../static/images/check/spimg.png" alt="체크이미지">
        </div>
    </div>
</div>