<div class="popup-modal wide bottom-fix popup-btnwrap" data-popup-modal="lp-check-faulty">
    <i class="popup-modal-close"></i>
    <h1 class="title">불량내용 등록</h1>
    <div class="content fullpag">
        <div class="filebox">
            <div class="file-wrap">
                <label for="ex_file" class="input-file-button">사진첨부 (최대3장)</label>
                <input type="file" id="ex_file" multiple/>
            </div>
            <div class="file-wrap">
                <label for="video" class="input-file-button">영상첨부 (최대1개)</label>
                <input type="file" id="video" multiple/>
            </div>
        </div>
        <div id="image_container" class="register reset">
            <div id="img-list">
                <p>
                    <img src="../../static/images/check/sample_img.png">
                </p>
                <p></p>
                <p></p>
            </div>
            <div class="txt-area">
                <textarea name="" rows="" placeholder="내용을 입력해 주세요."></textarea>
            </div>
        </div>
    </div>
    <div class="btn-box two-btn-wrap p-side-20">
        <button type="button" class="btn gray-btn popup-modal-cancel">취소</button>
        <button type="button" class="btn navy-btn">등록</button>
    </div>
</div>