<div class="popup-modal center alert" data-popup-modal="lp-fail-scan">
    <h1 class="title border-n">안내</h1>
    <div class="content">
        <p class="alert-txt">현장 인증 실패하였습니다.<br>확인 후 다시 시도해주시기 바랍니다.</p>
        <div class="alert-btn">
            <button class="popup-modal-cancel pop-btn close">취소</button>
            <button class="pop-btn confirm">다시시도</button>
        </div>
    </div>
</div>
