<div class="popup-modal center" data-popup-modal="lp-real-time-inform">
    <i class="popup-modal-close"></i>
    <h1 class="title border-n">실시간 알림</h1>
    <div class="content">
        <div class="arim-box">
            <form method="post">
                <textarea placeholder="췌키에 전달할 실시간 알림 내용을 10자 이내로 입력하세요."></textarea>
            </form>
            <div class="btn-box">
                <button type="button" class="btn navy-btn">발송하기</button>
            </div>
        </div>
    </div>
</div>