<div class="popup-modal center" data-popup-modal="lp-revision-mail">
    <i class="popup-modal-close"></i>
    <h1 class="title border-n">이메일 변경</h1>
    <div class="ui-content mail-box">
        <div class="mail-info modify">
            <p class="txt">이메일로 인증번호를 받은 후 완료해 주세요.</p>
            <div class="certifi-num">
                <input type="number"  class="send-input" placeholder="(예) anjeon@safe.co.kr">
                <div class="btn-box send-btn">
                    <button type="button" class="btn white-btn">인증번호 발송</button>
                </div>
            </div>
            <div class="certifi-num m-top-15">
                <input type="number"  class="send-input" placeholder="인증번호 입력">
                <div class="btn-box send-btn">
                    <!-- to dev : 인증번호 활성화시  .btn-off 제거 -->
                    <button type="button" class="btn white-btn btn-off">인증하기</button>
                </div>
            </div>
            <div class="btn-box">
                <button type="button" class="btn navy-btn">변경 저장</button>
            </div>
        </div>
    </div>
</div>
