<div class="popup-modal wide-bt" data-popup-modal="lp-scan-place">
    <i class="popup-modal-close"></i>
    <h1 class="title">스캔준비</h1>
    <div class="content">
        <p class="scan-txt01">휴대폰 뒷면 상단에 췌키를 대주세요.</p>
        <img class="check-img" src="../../static/images/check/check_scan.png" alt="스캔준비">
        <p class="scan-txt01">(NFC 위치 상단)</p>
    </div>
</div>