<div class="popup-modal wide-bt" data-popup-modal="lp-scan-worker">
    <i class="popup-modal-close"></i>
    <h1 class="title">FACE ID</h1>
    <div class="content">
        <p class="scan-txt01">얼굴을 카메라에 비춰주세요.</p>
        <img class="check-img" src="../../static/images/check/check_face_id.png" alt="face id">
    </div>
</div>