<div class="popup-modal wide-bt" data-popup-modal="lp-scan-worker-completed">
    <i class="popup-modal-close"></i>
    <h1 class="title">스캔 완료</h1>
    <div class="content">
        <p class="scan-txt01"><span>점검자 인증 완료</span>되었습니다.</p>
        <img class="check-img" src="../../static/images/check/check_scan_ok.png" alt="점검자스캔완료">
    </div>
</div>