<div class="popup-modal wide-bt v2" data-popup-modal="lp-sns-share">
    <i class="popup-modal-close"></i>
    <h1 class="title">내용 공유</h1>
    <div class="content">
        <div class="sns-box">
            <ul>
                <li>
                    <a class="sns-icon01" href="#none">메시지</a>
                </li>      
                <li>
                    <a class="sns-icon02" href="#none">메일</a>
                </li>
                <li>
                    <a class="sns-icon03" href="#none">카카오<br>워크</a>
                </li>
                <li>
                    <a class="sns-icon04" href="#none">카카오톡</a>
                </li>
                <li>
                    <a class="sns-icon05" href="#none">라인</a>
                </li>
            </ul>
        </div>
    </div>
</div>