<%- include('../../common/layout-header')-%>
<body class="my-bg">
<div class="ui-wrap wrap-h my-bg">
    <!-- header -->
    <header class="ui-header">
        <%- include('../../common/header/header-ver1')-%>
        <h1 class="title">마이페이지</h1>
    </header>
    <!-- // header -->
    <div class="ui-container my-wrap my-bg">
        <div class="my-page">
            <ul>
                <li>김안전<span>님</span></li>
                <li>anjeon12</li>
            </ul>
            <button type="button" class="pw-change">비밀번호 변경</button>
        </div>
        <div class="my-content register reset">
            <div class="info-table">
                <table class="basic-info">
                    <thead>
                        <tr class="first-tit">
                            <th class="tit">기본정보</th>
                            <td><a href="#" class="modify">수정</a></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="first-line">
                            <th>이름</th>
                            <td>김안전</td>
                        </tr>
                        <tr class="brd">
                            <th>휴대폰</th>
                            <td>010-1234-5678</td>
                        </tr>
                        <tr class="total">
                            <th>이메일</th>
                            <td>anjeon@safe.co.kr</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="info-table">
                <table class="basic-info">
                    <thead>
                        <tr class="first-tit">
                            <th class="tit">소속정보</th>
                            <td><a href="#" class="modify">수정</a></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="first-line">
                            <th>소속</th>
                            <td>안전 1팀</td>
                        </tr>
                        <tr class="brd">
                            <th>근무시간</th>
                            <td>08:00 ~17:00</td>
                        </tr>
                        <tr class="total">
                            <th>작업구분</th>
                            <td>현장작업자</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-box btn-bg my-bg">
                <button type="button" class="btn white-btn-2">로그아웃</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>

