<!-- list-section 불량 -->
<div id="day-tabs3" class="list-section">
    <!-- lst-item -->
    <div class="lst-item">
        <a class="main-content" href="#none">
            <img class="preview-img" src="../../../static/images/check/preview_img.png" alt="철근">
            <ul class="info-box">
                <li>철근 콘크리트 공사</li>
                <li class="point-c">A구역 철근</li>
                <li>- 점검주기<b>:</b><span>일일 점검</span></li>
                <li>- 점검자<b>:</b><span>김안전</span></li>
            </ul>
        </a>
        <!-- to dev : 활성화 되는 a 태그에 .active 클래스 추가 -->
        <!-- to Dev [toggle Class] : active -->
        <a class="content-btn toggle" href="#none">불량항목</a>
        <a class="sub-content" href="#none">
            <ul>
                <li>
                    <span class="title">주변 청소 및 정리 정돈 상태</span>
                    <p class="condition-box">
                        <!-- to dev : 활성화 되는 span 태그에 클래스 .on 추가 -->
                        <!-- to Dev [toggle Class] : on -->
                        <span class="condition on">불량 내용</span>
                        <span class="condition on">조치 내용</span>
                    </p>
                </li>
                <li>
                    <span class="title">감시인 배치 상태</span>
                    <p class="condition-box">
                        <span class="condition">불량 내용</span>
                        <span class="condition on">조치 내용</span>
                    </p>
                </li>
                <li>
                    <span class="title">응급상황 발생 시 긴급 조치장비 확보</span>
                    <p class="condition-box">
                        <span class="condition">불량 내용</span>
                        <span class="condition on">조치 내용</span>
                    </p>
                </li>
                <li>
                    <span class="title">감시인 배치 상태</span>
                    <p class="condition-box">
                        <span class="condition on">불량 내용</span>
                        <span class="condition">조치 내용</span>
                    </p>
                </li>
            </ul>
        </a>
    </div>
    <!--// lst-item -->

    <!-- lst-item -->
    <div class="lst-item ">
        <a class="main-content" href="#none">
            <img class="preview-img" src="../../../static/images/check/preview_img.png" alt="철근">
            <ul class="info-box">
                <li>철근 콘크리트 공사</li>
                <li class="point-c">A구역 철근</li>
                <li>- 점검주기<b>:</b><span>일일 점검</span></li>
                <li>- 점검자<b>:</b><span>김안전</span></li>
            </ul>
        </a>
        <a class="content-btn toggle" href="#none">불량항목</a>
        <a class="sub-content" href="#none" id="">
            <ul>
                <li>
                    <span class="title">주변 청소 및 정리 정돈 상태</span>
                    <p class="condition-box">
                        <span class="condition on">불량 내용</span>
                        <span class="condition on">조치 내용</span>
                    </p>
                </li>
                <li>
                    <span class="title">감시인 배치 상태</span>
                    <p class="condition-box">
                        <span class="condition">불량 내용</span>
                        <span class="condition on">조치 내용</span>
                    </p>
                </li>
                <li>
                    <span class="title">응급상황 발생 시 긴급 조치장비 확보</span>
                    <p class="condition-box">
                        <span class="condition">불량 내용</span>
                        <span class="condition on">조치 내용</span>
                    </p>
                </li>
                <li>
                    <span class="title">감시인 배치 상태</span>
                    <p class="condition-box">
                        <span class="condition on">불량 내용</span>
                        <span class="condition">조치 내용</span>
                    </p>
                </li>
            </ul>
        </a>
    </div>
    <!--// lst-item -->

    <!-- lst-item -->
    <div class="lst-item ">
        <a class="main-content" href="#none">
            <img class="preview-img" src="../../../static/images/check/preview_img.png" alt="철근">
            <ul class="info-box">
                <li>철근 콘크리트 공사</li>
                <li class="point-c">A구역 철근</li>
                <li>- 점검주기<b>:</b><span>일일 점검</span></li>
                <li>- 점검자<b>:</b><span>김안전</span></li>
            </ul>
        </a>
        <a class="content-btn toggle" href="#none">불량항목</a>
        <a class="sub-content" href="#none" id="">
            <ul>
                <li>
                    <span class="title">주변 청소 및 정리 정돈 상태</span>
                    <p class="condition-box">
                        <span class="condition on">불량 내용</span>
                        <span class="condition on">조치 내용</span>
                    </p>
                </li>
                <li>
                    <span class="title">감시인 배치 상태</span>
                    <p class="condition-box">
                        <span class="condition">불량 내용</span>
                        <span class="condition on">조치 내용</span>
                    </p>
                </li>
                <li>
                    <span class="title">응급상황 발생 시 긴급 조치장비 확보</span>
                    <p class="condition-box">
                        <span class="condition">불량 내용</span>
                        <span class="condition on">조치 내용</span>
                    </p>
                </li>
                <li>
                    <span class="title">감시인 배치 상태</span>
                    <p class="condition-box">
                        <span class="condition on">불량 내용</span>
                        <span class="condition">조치 내용</span>
                    </p>
                </li>
            </ul>
        </a>
    </div>
    <!--// lst-item -->

    <!-- lst-item -->
    <div class="lst-item ">
        <a class="main-content" href="#none">
            <img class="preview-img" src="../../../static/images/check/preview_img.png" alt="철근">
            <ul class="info-box">
                <li>철근 콘크리트 공사</li>
                <li class="point-c">A구역 철근</li>
                <li>- 점검주기<b>:</b><span>일일 점검</span></li>
                <li>- 점검자<b>:</b><span>김안전</span></li>
            </ul>
        </a>
        <a class="content-btn toggle" href="#none">불량항목</a>
        <a class="sub-content" href="#none" id="">
            <ul>
                <li>
                    <span class="title">주변 청소 및 정리 정돈 상태</span>
                    <p class="condition-box">
                        <span class="condition on">불량 내용</span>
                        <span class="condition on">조치 내용</span>
                    </p>
                </li>
                <li>
                    <span class="title">감시인 배치 상태</span>
                    <p class="condition-box">
                        <span class="condition">불량 내용</span>
                        <span class="condition on">조치 내용</span>
                    </p>
                </li>
                <li>
                    <span class="title">응급상황 발생 시 긴급 조치장비 확보</span>
                    <p class="condition-box">
                        <span class="condition">불량 내용</span>
                        <span class="condition on">조치 내용</span>
                    </p>
                </li>
                <li>
                    <span class="title">감시인 배치 상태</span>
                    <p class="condition-box">
                        <span class="condition on">불량 내용</span>
                        <span class="condition">조치 내용</span>
                    </p>
                </li>
            </ul>
        </a>
    </div>
    <!--// lst-item -->

    <!-- lst-item -->
    <div class="lst-item ">
        <a class="main-content" href="#none">
            <img class="preview-img" src="../../../static/images/check/preview_img.png" alt="철근">
            <ul class="info-box">
                <li>철근 콘크리트 공사</li>
                <li class="point-c">A구역 철근</li>
                <li>- 점검주기<b>:</b><span>일일 점검</span></li>
                <li>- 점검자<b>:</b><span>김안전</span></li>
            </ul>
        </a>
        <a class="content-btn toggle" href="#none">불량항목</a>
        <a class="sub-content" href="#none" id="">
            <ul>
                <li>
                    <span class="title">주변 청소 및 정리 정돈 상태</span>
                    <p class="condition-box">
                        <span class="condition on">불량 내용</span>
                        <span class="condition on">조치 내용</span>
                    </p>
                </li>
                <li>
                    <span class="title">감시인 배치 상태</span>
                    <p class="condition-box">
                        <span class="condition">불량 내용</span>
                        <span class="condition on">조치 내용</span>
                    </p>
                </li>
                <li>
                    <span class="title">응급상황 발생 시 긴급 조치장비 확보</span>
                    <p class="condition-box">
                        <span class="condition">불량 내용</span>
                        <span class="condition on">조치 내용</span>
                    </p>
                </li>
                <li>
                    <span class="title">감시인 배치 상태</span>
                    <p class="condition-box">
                        <span class="condition on">불량 내용</span>
                        <span class="condition">조치 내용</span>
                    </p>
                </li>
            </ul>
        </a>
    </div>
    <!--// lst-item -->
</div>
<!--// list-section 불량 -->