<!-- tab-section week -->
<div class="tab-section">
    <ul class="check-tab-menu">
        <li>
            <!-- to dev : 활성화 되는 a 태그에 .is-visible 클래스 추가 -->
            <!-- to Dev [toggle Class] : is-visible -->
            <a href="#week-tabs1" class="is-visible">
                <span class="txt">점검 미완료</span>
                <span class="num">66</span>
            </a>
        </li>
        <li>
            <a href="#week-tabs2">
                <span class="txt">전체</span>
                <span  class="num">37</span>
            </a>
        </li>
        <li>
            <a href="#week-tabs3">
                <span class="txt">불량</span>
                <span class="num">2</span>
            </a>
        </li>
    </ul>
</div>
<!--// tab-section week -->