<!-- list-section 전체 -->
<div id="week-tabs2" class="list-section">
    <div class="lst-item">
        <a href="#none" class="main-content">
            <img class="preview-img" src="../../../static/images/check/preview_img.png" alt="철근">
            <ul class="info-box">
                <li>철근 콘크리트 공사</li>
                <li class="point-c">A구역 철근</li>
                <li>- 점검주기<b>:</b><span>일일 점검</span></li>
                <li>- 점검자<b>:</b><span>김안전</span></li>
            </ul>
            <img class="stamp-img" src="../../../static/images/check/stamp_incomplete.png" alt="미완료">
        </a>
    </div>
    <div class="lst-item">
        <a href="#none" class="main-content">
            <img class="preview-img" src="../../../static/images/check/preview_img.png" alt="철근">
            <ul class="info-box">
                <li>철근 콘크리트 공사</li>
                <li class="point-c">A구역 철근</li>
                <li>- 점검주기<b>:</b><span>일일 점검</span></li>
                <li>- 점검자<b>:</b><span>김안전</span></li>
            </ul>
            <img class="stamp-img" src="../../../static/images/check/stamp_incomplete.png" alt="미완료">
        </a>
    </div>
    <div class="lst-item">
        <a href="#none" class="main-content">
            <img class="preview-img" src="../../../static/images/check/preview_img.png" alt="철근">
            <ul class="info-box">
                <li>철근 콘크리트 공사</li>
                <li class="point-c">A구역 철근</li>
                <li>- 점검주기<b>:</b><span>일일 점검</span></li>
                <li>- 점검자<b>:</b><span>김안전</span></li>
            </ul>
            <img class="stamp-img" src="../../../static/images/check/stamp_ok.png" alt="완료">
        </a>
    </div>
    <div class="lst-item">
        <a href="#none" class="main-content">
            <img class="preview-img" src="../../../static/images/check/preview_img.png" alt="철근">
            <ul class="info-box">
                <li>철근 콘크리트 공사</li>
                <li class="point-c">A구역 철근</li>
                <li>- 점검주기<b>:</b><span>일일 점검</span></li>
                <li>- 점검자<b>:</b><span>김안전</span></li>
            </ul>
            <img class="stamp-img" src="../../../static/images/check/stamp_ok.png" alt="완료">
        </a>
    </div>
    <div class="lst-item">
        <a href="#none" class="main-content">
            <img class="preview-img" src="../../../static/images/check/preview_img.png" alt="철근">
            <ul class="info-box">
                <li>철근 콘크리트 공사</li>
                <li class="point-c">A구역 철근</li>
                <li>- 점검주기<b>:</b><span>일일 점검</span></li>
                <li>- 점검자<b>:</b><span>김안전</span></li>
            </ul>
            <img class="stamp-img" src="../../../static/images/check/stamp_ok.png" alt="완료">
        </a>
    </div>
</div>
<!--// list-section 전체 -->