@charset "UTF-8";
/* ========================================================== */
/*                                                            */
/* file     : fonts                                           */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* Noto Sans KR s =========================================== */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face { font-family: 'Noto Sans KR'; src: url("../fonts/NotoSansCJKkr-Light.otf") format("otf"), url("../fonts/NotoSansCJKkr-Light.woff") format("woff"), url("../fonts/NotoSansCJKkr-Light.ttf") format("ttf"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Noto Sans KR'; src: url("../fonts/NotoSansCJKkr-Medium.otf") format("otf"), url("../fonts/NotoSansCJKkr-Medium.woff") format("woff"), url("../fonts/NotoSansCJKkr-Medium.ttf") format("ttf"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'Noto Sans KR'; src: url("../fonts/NotoSansCJKkr-Regular.otf") format("otf"), url("../fonts/NotoSansCJKkr-Regular.woff") format("woff"), url("../fonts/NotoSansCJKkr-Regular.ttf") format("ttf"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Noto Sans KR'; src: url("../fonts/NotoSansCJKkr-Bold.otf") format("otf"), url("../fonts/NotoSansCJKkr-Bold.woff") format("woff"), url("../fonts/NotoSansCJKkr-Bold.ttf") format("ttf"); font-weight: 700; font-style: normal; }

/* font : Noto Sans KR e ===================================== */
/* ---------------------------------------------------------- */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/** 1. 기본 글꼴을 sans-serif로 설정. 2. iOS와 IE에서 기기 회전시에 사용자가 확대하지 않아도 글씨 크기가 재조정되는 것을 예방. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** 기본 마진값을 제거. */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** IE8/9에서 정의되지 않은 HTML5 요소를 'block'으로 지정. IE10/11, Firefox에서 정의되지 않은 `detail` 혹은 `summary` 를 `block`으로 지정. IE11에서 정의되지 않은 `main`을 `block`으로 지정 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/** 1. IE8/9에서 `inline-block`으로 정의되지 않은 것을 올바르게 지정. 2. Chrome, Firefox, Opera에서 `progress`의 세로 정렬을 표준화. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** 모던 브라우저들에서 controls 속성없이 audio 요소가 렌더링 되는 것을 예방 iOS 5 기기에서 높이를 초과하는 것을 제거 */
audio:not([controls]) { display: none; height: 0; }

/** `[hidden]` 속성의 스타일이 IE 8/9/10에서 존재하지 않는 것을 해결. IE 8/9/10/11, Safari, Firefox < 22 에서 `template` 요소를 숨김. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** IE10에서 활성화(active)된 링크의 회색 배경을 제거. */
a { background-color: transparent; }

/** active/hover 상태일때에도 포커스된 요소의 가독성을 향상. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** IE 8/9/10/11, Safari, Chrome에서 존재하지 않는 스타일을 부여. */
abbr[title] { border-bottom: 1px dotted; }

/** Firefox 4+, Safari, Chrome에서 `bolder`로 설정되어 있는 것을 `bold`로 수정. */
b, strong { font-weight: bold; }

/** Safari,Chrome에서 존재하지 않는 스타일을 부여. */
dfn { font-style: italic; }

/** Firefox 4+, Safari, Chrome에서 `section`과 `article` 내부의 `h1` 요소의 글꼴 크기와 마진값이 서로 다른 것을 통일시킴. */
h1 { font-size: 2em; margin: .67em 0; }

/** IE 8/9에서 존재하지 않는 스타일을 부여. */
mark { color: #000; background: #ff0; }

/** 브라우저마다 다른 글꼴 크기를 통일시킴. */
small { font-size: 80%; }

/** `sub`과 `sup`요소가 모든 브라우저에서 `line-height`에 영향을 미치는 것을 예방. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -.5em; }

sub { bottom: -.25em; }

/* Embedded content ========================================================================== */
/** IE 8/9/10에서 `a` 요소안에 이미지가 위치할 경우 생기는 테두리 제거. */
img { border: 0; }

/** IE 9/10/11에서 `svg` 요소가 영역의 크기를 벗어나지 않도록 수정. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** IE 8/9, Safari에서 존재하지 않는 `margin` 값을 부여. */
figure { margin: 1em 40px; }

/** Firefox와 다른 브라우저들 사이의 차이점 해결. */
hr { box-sizing: content-box; height: 0; }

/** 모든 브라우저에서 `pre` 요소의 `overfolow` 값을 통일. */
pre { overflow: auto; }

/** 모든 브라우저에서 글꼴과 글꼴 크기가 다른 것을 해결. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** 알려진 한계: 기본적으로 OS X의  Chrome과 Safari는 `border` 속성을 지정하지 않는 한 `select` 요소의 스타일링에 매우 제한적이다. */
/** 1. color 속성이 상속되지 않는 것을 수정. 알려진 문제: disabled 된 요소의 color 속성에도 영향을 미친다. 2. font 속성이 상속되지 않는 것을 수정. 3. Firefox 4+, Safari, Chrome에서 마진이 서로 다른 것을 해결. */
button, input, optgroup, select, textarea { font: inherit; /* 2 */ margin: 0; /* 3 */ color: inherit; /* 1 */ }

/** IE 8/9/10/11에서 `overflow` 속성값이 `hidden`으로 설정되어 있는 것을 수정 */
button { overflow: visible; }

/** `button`과 `select` 요소에 `text-transform` 상속이 일치하지 않는 것을 해결 모든 다른 폼 컨트롤 요소는 `text-transform` 값을 상속하지 않는다. IE 8/9/10/11, Firefox, Opera에서 `button` 요소의 스타일 상속 수정. Firefox에서 `select` 요소의 스타일 상속 수정. */
button, select { text-transform: none; }

/** 1. Android 4.0.*에서 `audio`와 `video` 컨트롤을 파괴하는 웹킷 버그를 방지. 2. iOS에서 클릭가능한 `input` 유형에 스타일링을 할 수 없는 것을 수정. 3. `input` 요소와 다른 요소들의 image-type의 커서 모양을 일치시켜 가용성을 향상. `input` and others. */
button, html input[type='button'], input[type='reset'], input[type='submit'] { cursor: pointer; /* 3 */ -webkit-appearance: button; /* 2 */ }

/** disabled된 요소의 기본 커서를 재설정 */
button[disabled], html input[disabled] { cursor: default; }

/** Firefox 4+에서 내부 `padding`과 `border`를 제거 */
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0; border: 0; }

/** Firefox 4+에서 UA(User Agent) 스타일시트에 `!important`를 사용한 `input` 요소의 `line-height` 설정값을 해결. */
input { line-height: normal; }

/** 이러한 요소의 스타일을 설정하려고하지 않는 것이 좋다. Firefox에서 아래의 요소에서 box-sizing, padding, width가 구현될꺼라 기대하지 말자. 1. IE 8/9/10에서 box sizing 속성값을 `content-box`에서 `border-box`로 변경 2. IE 8/9/10에서 영역을 벗어나지 않도록 `padding`을 제거 */
input[type='checkbox'], input[type='radio'] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Chrome의 증가/감소 버튼의 커서 모양을 수정. `input` 요소의 특정 `font-size` 값에 대해 감소 버튼의 커서 모양이 `default`에서 `text`로 변한다. */
input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button { height: auto; }

/** OS X의 Safari, Chrome에서 내부(inner) `padding`과 검색 취소 버튼을 제거. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration { -webkit-appearance: none; }

/** `border`, `margin`, `padding`을 일치. */
fieldset { margin: 0 2px; padding: .35em .625em .75em; border: 1px solid #c0c0c0; }

/** 1. IE 8/9/10/11에서 `color`는 상속되지 않는다. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { padding: 0; /* 2 */ border: 0; /* 1 */ }

/** IE 8/9/10/11에서 기본 세로 스크롤바를 제거 */
textarea { overflow: auto; }

/** `font-weight`는 상속되지 않는다.(applied by a rule above). 주의: OS X의 Chrome과 Safari에서 기본값을 변경하는 것은 안전하지 않다. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** 테이블 요소 사이의 간격을 제거 */
table { border-spacing: 0; border-collapse: collapse; }

td, th { padding: 0; }

/* ========================================================== */
/*                                                            */
/* file		: base                                            */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* base s =================================================== */
* { font-weight: normal; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline: none; font-weight: normal; font-style: normal; }

html { font-size: 62.5%; }

html, body { width: 100%; height: 100%; }

html.back, body.back { background-color: #f5f5f5; }

/* font-family 설정 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, form, fieldset, legend, textarea, input, select, textarea, button, figure, figcaption { font-family: "Noto Sans KR", Sans-Serif, "Sans-Serif"; }

body { -webkit-font-smoothing: antialiased; color: #222; }

body.hidden { overflow: hidden; }

a { text-decoration: none; color: #222; }

address, em { font-style: normal; }

hr { display: none; }

/* table */
table { width: 100%; border-collapse: separate; }

th, td { word-break: break-all; background-clip: padding-box; }

th.posr, td.posr { position: relative; }

caption { overflow: hidden; font-size: medium; line-height: normal; width: 100%; height: 0; word-break: break-all; opacity: 0; filter: alpha(opacity=0); -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=0)'; }

fieldset { border: none; }

/*  form */
input[type=radio], input[type=checkbox] { -webkit-appearance: none; -khtml-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; padding: 0; border: 0; background: none; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

button { width: auto; border: 0; padding: 0; background: none; font-weight: normal; }

textarea { resize: none; border: 1px solid #f1f1f1; }

a, img, input, button, select, textarea { vertical-align: middle; }

a:focus, a:active, a:hover, button:focus, button:active, button:hover { text-decoration: none; }

ul, ol, dl { margin: 0; padding: 0; }

li, dd { margin: 0; padding: 0; list-style: none; }

p { margin: 0; }

h1, h2, h3, h4, h5, h6 { margin: 0; font-weight: normal; }

/* base e =================================================== */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: header                                      	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* header s ================================================= */
.wrap { width: 100%; height: 100%; position: absolute; z-index: 0; overflow: hidden; background: linear-gradient(to bottom, #4eadf4, #add8e6); }

.wrap .logo { width: 280px; position: relative; z-index: 10; padding: 1rem 0; text-align: center; border-top: 2px solid #ff6c00; background-color: #fff; }

.wrap .logo a { vertical-align: baseline; }

.wrap .logo a img { max-width: 250px; vertical-align: baseline; }

.wrap .header { width: 280px; height: 100%; position: absolute; z-index: 10; text-align: center; border-right: 1px solid #fff; font-size: 1.8rem; }

.wrap .header .my_page { background-color: #0e4eb2; text-align: center; }

.wrap .header .my_page a { font-size: 1.5rem; color: #fff; vertical-align: baseline; }

.wrap .header .gnb_wrap { position: relative; z-index: 4; background-color: #fff; }

.wrap .header .gnb_wrap > li { position: relative; }

.wrap .header .gnb_wrap > li :hover { color: #0e4eb2; }

.wrap .header .gnb_wrap > li > a { display: block; padding: 8px 0; border-bottom: 1px solid #ddd; background-color: #fff; }

.wrap .header .gnb_wrap .gnb_list { width: 100%; height: 699%; max-height: 700px; padding: 0px 18px 0 18px; position: absolute; left: 0px; top: 0px; z-index: -1; opacity: 0; font-size: 1.5rem; text-align: left; transition: .9s; }

.wrap .header .gnb_wrap .gnb_list > li > a { display: block; padding: 8px 0; color: #fff; font-weight: bold; }

.wrap .header .gnb_wrap .gnb_list > li .gnb_inner > li { padding-left: 10px; position: relative; }

.wrap .header .gnb_wrap .gnb_list > li .gnb_inner > li > a { font-size: 1.3rem; color: #cce0fe; }

.wrap .header .gnb_wrap .gnb_list > li .gnb_inner > li::after { content: '-'; color: #cce0fe; position: absolute; top: 0; left: 0; }

.wrap .header .gnb_wrap .gnb_list.on { left: 280px; }

.wrap .header .gnb_wrap .menu.on { /* pc 메뉴에 마우스 오버시 2dep show */ }

.wrap .header .gnb_wrap .menu.on .gnb_list { left: 280px; opacity: 1; }

.wrap .header .foot_wrap { position: relative; z-index: 4; padding-top: 1rem; padding-left: 2rem; background-color: #ededed; text-align: left; font-size: 1.5rem; }

.wrap .header .foot_wrap > ul > li { padding: 3px; }

.wrap .header::before { content: ''; width: 100%; height: 100%; position: absolute; top: 0px; left: 0; z-index: -2; background-color: #ededed; }

.wrap .gnb_bg { width: 280px; height: 100%; position: fixed; top: 0; left: 0px; z-index: 1; opacity: 0; background-color: #0e4eb2; transition: .8s; }

.wrap .gnb_bg.active { /* 마우스 오버시 2dep bg */ left: 280px; opacity: 1; }

.wrap .content { width: 100%; padding-top: 10rem; padding-left: 280px; }

.wrap .content .calen_wrap { width: 100%; max-width: 1280px; margin: 0 auto; display: flex; }

.wrap .content .calen_wrap .box_cnt { width: 100%; }

.wrap .content .calen_wrap .box_cnt.cnt2 { margin-left: 1.5rem; }

.wrap .content .calen_wrap .box_cnt ul { display: flex; }

.wrap .content .calen_wrap .box_cnt ul li { width: 50%; }

.wrap .content .calen_wrap .box_cnt ul li:first-child { background-color: #fff; }

.wrap .content .calen_wrap .box_cnt ul li:nth-child(2) { background-color: #ffd34d; }

.wrap .content .calen_wrap .box_cnt ul li button { border: 0; background-color: transparent; width: 100%; height: 120px; padding: 5% 10%; }

.wrap .content .calen_wrap .box_cnt ul li button b { font-size: 2rem; }

.wrap .content .calen_wrap .box_cnt ul li button .today_txt { display: block; text-align: left; font-weight: 700; }

.wrap .content .calen_wrap .box_cnt ul li button .today_txt span { font-weight: 400; display: block; }

.wrap .content .calen_wrap .box_cnt ul li button .today_cnt { display: block; margin-top: -30px; text-align: right; font-size: 1.5rem; color: #000; font-weight: 400; }

.wrap .content .calen_wrap .box_cnt ul li button .today_cnt span { font-size: 3.5rem; color: #000; }

.dim { width: 100%; height: 100%; position: fixed; left: 0; top: 0; background-color: rgba(0, 0, 0, 0.6); transition: .5s; opacity: 0; }

.dim._on { /* content 영역에 dim 처리 */ opacity: 1; }

.m_wrap { display: none; }

@media only screen and (max-width: 1024px) { .wrap { display: block; }
  .wrap .logo { width: 100%; }
  .wrap .header { width: 100%; position: absolute; right: -130rem; transition: right 1s cubic-bezier(0.32, 0.03, 0.28, 0.99); }
  .wrap .header .gnb_wrap { width: 100%; background-color: transparent; }
  .wrap .header .gnb_wrap > li { position: relative; width: 45%; height: 3.7rem; }
  .wrap .header .gnb_wrap > li > a { width: 100%; float: left; text-align: left; padding: 8px 15px; font-size: 1.4rem; font-weight: 500; background-color: #ededed; word-break: keep-all; }
  .wrap .header .gnb_wrap > li > a:focus { color: #0e4eb2; text-decoration: underline; }
  .wrap .header .gnb_wrap > li .gnb_list { width: 123%; float: right; font-size: 1.4rem; }
  .wrap .header .gnb_wrap > li .gnb_list > li > a { position: relative; border-bottom: 1px solid #e1e1e1; color: #000; }
  .wrap .header .gnb_wrap > li .gnb_list > li > a.lnb_active::after { content: ''; width: 9px; height: 5px; position: absolute; background: url(../images/ic_lnb.png) no-repeat right center; right: 0.5rem; top: 1.6rem; }
  .wrap .header .gnb_wrap > li .gnb_list > li .gnb_inner { max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out; }
  .wrap .header .gnb_wrap > li .gnb_list > li .gnb_inner li a { color: #666; }
  .wrap .header .gnb_wrap > li .gnb_list > li .gnb_inner li a::after { color: #666; top: -0.2rem; }
  .wrap .header .gnb_wrap > li .gnb_list > li .gnb_inner li::after { color: #666; top: .3rem; }
  .wrap .header .gnb_wrap > li::after { content: ''; display: inline-block; clear: both; }
  .wrap .header .gnb_wrap .menu.m_on > a { background-color: #fff; }
  .wrap .header .gnb_wrap .menu.m_on > a::after { content: ''; width: 6px; height: 10px; position: absolute; background: url(../images/ic_gnb.jpg) no-repeat right center; right: 1.4rem; top: 1.4rem; }
  .wrap .header .gnb_wrap .menu.m_on .gnb_list { left: 100%; opacity: 1; background-color: #fff; }
  .wrap .header .gnb_wrap .menu.m_on .gnb_list .gnb_inner.sub_lnb { display: block; }
  .wrap .header .foot_wrap { width: 45%; height: 28rem; position: relative; z-index: 4; padding-top: 1rem; padding-left: .7rem; text-align: left; font-size: 1.15rem; }
  .wrap .header .foot_wrap > ul > li { padding: 2px; }
  .wrap .header::after { content: ''; width: 55%; height: 100%; position: absolute; top: 0px; right: 0; z-index: -2; background: #fff; }
  .wrap .header.none { /* 햄버거 메뉴 클릭시 2dep 메뉴 show */ right: 0; }
  .wrap .content { padding: 0 1.5rem; margin: 3rem auto; }
  .wrap .content .calen_wrap { display: block; }
  .wrap .content .calen_wrap .box_cnt { width: 100%; }
  .wrap .content .calen_wrap .box_cnt.cnt2 { margin-top: 1rem; margin-left: 0rem; }
  .wrap .content .calen_wrap .box_cnt ul { display: flex; }
  .wrap .content .calen_wrap .box_cnt ul li { width: 50%; }
  .wrap .content .calen_wrap .box_cnt ul li button { height: 89px; }
  .wrap .content .calen_wrap .box_cnt ul li button b { font-size: 1.5rem; }
  .wrap .gnb_bg { display: none; }
  .dim { display: none; }
  .m_wrap { display: block; position: absolute; left: 0; top: 0; width: 100%; }
  .m_wrap .m_nav { width: 100%; text-align: center; }
  .m_wrap .m_nav .m_menu { display: block; position: absolute; right: 1.6rem; top: 1.6rem; width: 24px; height: 24px; background: url(../images/m_open.png) no-repeat 0 0; background-size: contain; }
  .m_wrap .m_nav .m_menu span { display: block; text-indent: 100%; white-space: nowrap; overflow: hidden; }
  .m_wrap .m_nav .m_menu.open { /* 햄버거 메뉴 클릭시 이미지 변경 */ background-image: url(../images/m_close.png); } }

/* //mobile */
/* header e ================================================= */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: nav                                       	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* nav s ==================================================== */
/* nav e ==================================================== */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: container                                    	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* container s ============================================== */
/* container e ============================================== */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: footer                                      	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* footer s ================================================= */
/* footer e ================================================= */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: popup                                      	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* popup s ================================================== */
/* popup e ================================================== */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: form                                       	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* form s =================================================== */
/* form e =================================================== */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: button                                       	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* buttons s ================================================ */
/* buttons e ================================================ */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: table                                      	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* table s ================================================== */
/* table e ================================================== */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: tab                                       	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* tab s ==================================================== */
/* tab e ==================================================== */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: list                                      	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* list s =================================================== */
/* list e =================================================== */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: layer_popup                                  	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* layer_popup s ============================================ */
/* layer_popup e ============================================ */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: content                                     	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* content s ================================================ */
/* content e ================================================ */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: main                                      	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* main s =================================================== */
/* main e =================================================== */
/* ---------------------------------------------------------- */
/*# sourceMappingURL=display.css.map */