@charset "utf-8";
/* ========================================================== */
/*                                                            */
/* file		: header                                      	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* header s ================================================= */
header {
  position: relative;
  height: 72px;
  line-height: 72px;
  display: flex;
  justify-content: space-between;
  z-index: 30;
  max-width: 1280px;
  color: var(--fontColor);
  background-color: var(--background);
  h1 {
    margin: 0;
    a {
      display: block;
      img {
        width: 130px;
        vertical-align: middle;
      }
    }
  }
}

header.drop {
  position: fixed;
  animation: drop 0.3s;
  top: 0;
  width: 100%;
}

@keyframes drop {
  0% {
    top: -5rem;
  }
  100% {
    top: 0;
  }
}

// mdq pc
@media only screen and (max-width: 768px) {
  header {
    overflow: inherit;
    padding: 0 20px !important;
    overflow-x: clip !important;
  }
}

/* header e ================================================= */
/* ---------------------------------------------------------- */