<%- include('../../common/layout-header')-%>
<body>
    <div class="ui-wrap member-result-wrap">
        <!-- header -->
        <header class="ui-header">
            <%- include('../../common/header/header-ver2')-%>
            <h1 class="title">아이디 찾기</h1>
        </header>
        <!-- // header -->
        <div class="ui-container div-wrap">
            <div class="result-wrap center-wrap">
                <div class="reseult">
                    <div class="result-txt">
                        <span>회원가입 시 사용한 아이디</span>는 <br>
                        <span class="point-color">anjeon12</span> 입니다.
                    </div>
                    <div class="btn-box id-margin-t">
                        <button type="button" class="btn navy-btn">로그인 페이지로 이동</button>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../../common/footer')-%>
    </div>
</body>
</html>
