<%- include('../../common/layout-header')-%>
    <body>
        <div class="ui-wrap member-wrap">
            <!-- header -->
            <header class="ui-header">
                <%- include('../../common/header/header-ver2')-%>
                <h1 class="title">비밀번호 재설정</h1>
            </header>
            <!-- // header -->
            <div class="ui-container">
                <div class="top-block">
                    비밀번호 재설정을 위해 <br>가입정보 확인을 진행해주세요.
                </div>
                <div class="member-input-wrap">
                    <div class="input-wrap">
                        <form id="" method="post" class="form-login">
                            <div class="i-wrap">
                                <p class="my-title">이름</p>
                                <input id="name" type="text" class="my-in" placeholder="작업자 / 관리자 성명">
                            </div>
                            <div class="i-wrap">
                                <p class="my-title">아이디</p>
                                <input type="id" class="my-in i-id" placeholder="5~12자 영문, 숫자 조합">
                            </div>
                            <!-- to dev : 오류 메세지 활성화시 클래스 .my-warn에 태그 .active 추가 -->
                            <!-- to Dev [toggle tag] : active -->
                            <div class="my-warn">
                                <p>아이디 부적합, 다시 입력해주세요.</p>
                            </div>
                            <div class="i-wrap">
                                <p class="my-title">이메일 주소</p>
                                <input type="email" class="my-in" placeholder="(예) anjeon@safe.co.kr">
                            </div>
                            <!-- to dev : 오류 메세지 활성화시 클래스 .my-warn에 태그 .active 추가 -->
                            <!-- to Dev [toggle tag] : active -->
                            <div class="my-warn">
                                <p>이메일 주소 부적합, 다시 입력해주세요.</p>
                            </div>
                        </form>
                    </div>
                    <div class="btn-box pw-btn">
                        <button type="button" class="btn white-btn">인증번호 발송</button>
                    </div>
                    <div class="certifi-num">
                        <input type="number"  class="send-input" placeholder="인증번호">
                        <div class="btn-box send-btn">
                            <!-- to dev : 인증번호 활성화시  .btn-off 제거 -->
                            <button type="button" class="btn white-btn btn-off">인증</button>
                        </div>
                    </div>
                    <div class="btn-box pw-margin-t">
                        <button type="button" class="btn navy-btn">가입정보 확인</button>
                    </div>
                </div>
            </div>
            <%- include('../../common/footer')-%>
        </div>
    </body>
</html>

