<!-- header -->
<header class="ui-header">
    <h1 class="main-logo">
        <a href="#" scr><span class="blind">CHEKIE</span></a>
    </h1>

    <a href="#none" id="aside-nav" class="aside-nav">
        <span class="icon"><span class="blind">확장 영역</span></span>
    </a>
</header>
<!-- // header -->

<%- include('../aside-menu')-%>