
    <button type="button" class="btn-prev">
        <span class="icon">이전</span>
    </button>
    <a href="#none" id="aside-nav" class="aside-nav">
        <span class="icon"><span class="blind">확장 영역</span></span>
    </a>

<%- include('../aside-menu')-%>